<!DOCTYPE >
html {
  font-family: sans-serif; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  /*overflow: auto;*/
}

div.container{
  background-image: url("../images/BgImg.jpg");
  background-repeat: no-repeat;
  position: absolute;
  width:100%;
  min-width: 1000px;
  height:100%;
  /*padding-left: 50%;
  padding-right: 50%;*/
  background-position: center center;
  background-attachment: fixed; 
  /*resize:none;*/
  text-align: center;
  overflow-y: auto;
  overflow-x:hidden;
}

div.mainImg{
  background-image:url("../images/highlight-bg.jpg");
  background-repeat: no-repeat;
  position: absolute;
  width:1000px;
  height: 100%;
  /*right:0;*/
  /*display: block;*/
  margin-left:0;
  margin-right:0;
  background-position:center;
  background-attachment: fixed;
  opacity: 0.4;
  filter:alpha(opacity=40);
  /*border: red solid thin;*/
  background-size: cover; 
  -moz-background-size: cover;
  overflow-x: hidden;
  /*overflow-y:hidden;*/
  /*overflow: hidden;*/
  /*overflow: scroll;*/
}

div .main{
    position: relative;
   width:1000px;
   height: 100%;
   margin-left:auto;
  margin-right:auto;
  margin-bottom:40px;
   /*left: 15%;*/
   background-position: center;
   /*overflow-x: hidden;*/
   /*overflow-y:auto;*/
   /*background-attachment: fixed;*/
  /*border: red solid thin;*/
   /*overflow: scroll;*/
}

div .basic{
  background-image: url("../images/Block.jpg");
  background-repeat: no-repeat;
  position:relative;
  margin:20px 0 0 40px;
/*  left: 30px;*/
  float: left;
  width:200px;
  height:400px;
  filter:alpha(opacity=80);
  opacity:0.8;
    background-size: cover; 
  -moz-background-size: cover;

  padding-top: 20px;
  padding-bottom: auto;
  overflow: hidden;
  /*float: left;*/
}

div .basic h1{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  -moz-box-shadow:    0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

div .basic h2{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

div .basic p{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
}


div .head1{
  background-image: url("../images/Block.jpg");
  background-repeat: no-repeat;
  position:relative;
  margin:20px 0 20px 40px;
/*  left: 30px;*/
  float: left;
  width:200px;
  height:130px;
  filter:alpha(opacity=80);
  opacity:0.8;
    background-size: cover; 
  -moz-background-size: cover;
  /*padding-top: 0px;*/
  /*padding-bottom: 10px;*/
  /*vertical-align: center;*/
  line-height: 7px;
  text-align: left;
    padding-left: 10px;
}


div .head1 h1{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
}

div .head1 strong{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-style: bold;
  color:#3399FF;
}

div .head1 p{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

div .head2{
  background-image: url("../images/Block.jpg");
  background-repeat: no-repeat;
  position:relative;
  margin:20px 0 20px 40px;
/*  left: 30px;*/
  float: left;
  width:440px;
  height:130px;
  filter:alpha(opacity=80);
  opacity:0.8;
    background-size: cover; 
  -moz-background-size: cover;
    line-height: 7px;
  text-align: left;
  padding-left: 10px;
}

div .head2 h1{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
}

div .head2 strong{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-style: bold;
  color:#3399FF;
}

div .head2 p{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

div .doc{
  background-image: url("../images/block-doc.jpg");
  background-repeat: no-repeat;
  position:relative;
  margin:20px 0 20px 40px;
/*  left: 30px;*/
  float: left;
  width:200px;
  height:250px;
  filter:alpha(opacity=80);
  opacity:0.8;
    background-size: cover; 
  -moz-background-size: cover;
      line-height: 7px;
  text-align: left;
  padding-left: 10px;
    padding-top: 20px;
     padding-right:15px; 
       max-width: 180px;
  max-height: 230px;
}


div .project{
  background-image: url("../images/block-project.jpg");
  background-repeat: no-repeat;
  position:relative;
  margin:20px 0 20px 40px;
/*  left: 30px;*/
  float: left;
  width:200px;
  height:250px;
  filter:alpha(opacity=80);
  opacity:0.8;
    background-size: cover; 
  -moz-background-size: cover;
  /*因为HTML/CSS中把边距也算入大小中，经常会进行扩充，因此我这里把最大值设为width-margin，不知道有没有更好的处理方法*/
    max-width: 180px;
  max-height: 230px;
  line-height: 7px;
  text-align: left;
  padding-left: 10px;
  padding-top: 20px;
  padding-right:15px; 
}

div.doc:hover,div.project:hover{
   filter:alpha(opacity=90);
   opacity:0.9;
}

div .doc h1,div .project h1{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

div .doc strong,div .project strong{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: bold;
  color:gray;
}

div .doc p,div .project p{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}